.main {
  position: relative;
  margin-bottom: 1rem;
  .comment-container {
    background-color: var(--neutral-5);
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column-reverse;
    width: clamp(350px, 50vw, 60vw);
    padding: 1.5rem;
    gap: 1.5rem;
    margin: 0 auto;
    position: relative;
    @media (min-width: 375px) {
      flex-direction: row;
      margin-bottom: 0.5rem;
    }

    .left {
      background-color: var(--neutral-4);
      border-radius: 0.7rem;
      border: none;
      color: var(--primary-1);
      width: fit-content;
      height: fit-content;
      display: flex;
      padding: 0.5rem;
      gap: 1rem;

      @media (min-width: 375px) {
        display: block;
        gap: 0;
      }

      p {
        font-weight: 700;
        margin: 0;
        text-align: center;

        @media (min-width: 375px) {
          margin: 10px 0;
        }
      }
      button {
        background-color: transparent;
        border: none;
        color: var(--neutral-2);
        font-weight: 700;
      }

      button:hover {
        cursor: pointer;
      }
    }
    .right {
      width: 100%;

      .head {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .container-1,
        .container-2 {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .img-container {
            width: clamp(30px, 1rem, 2rem);

            img {
              width: 100%;
            }
          }

          .username {
            color: var(--neutral-1);
            font-weight: 500;
          }

          .createdAt {
            color: var(--neutral-2);
          }
        }

        .container-1 {
          gap: 1rem;
        }

        .container-2 {
          position: absolute;
          top: 77%;
          left: 75%;
          gap: 0.5rem;
          color: var(--primary-1);
          font-weight: 500;

          @media (min-width: 375px) {
            position: static;
          }
        }

        .container-2:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }

      .context {
        p {
          color: var(--neutral-2);
        }
      }
    }
  }
}
