.create-container {
  padding: 1rem;
  background-color: var(--neutral-5);
  margin-top: 1rem;
  border-radius: 1rem;
  form {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    .left {
      width: 7%;

      img {
        width: 100%;
      }
    }

    textarea {
      resize: none;
      width: 100%;
      height: 15vh;
      border: 2px solid var(--neutral-4);
      border-radius: 0.5rem;
      padding: 1rem;
    }

    textarea {
      cursor: pointer;
    }

    button {
      background-color: var(--primary-1);
      border: none;
      border-radius: 0.4rem;
      color: var(--neutral-5);
      padding: 0.7rem 1.5rem;
      font-weight: 700;
    }

    button:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
