.reply-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: clamp(350px, 50vw, 60vw);
  margin-bottom: 1rem;

  .create-reply-container {
    width: 90%;
    margin-bottom: 0;
  }
  hr {
    margin: 0 2.5rem;
    border: 2px solid var(--neutral-3);
  }
  .sub-container {
    background-color: var(--neutral-3);
    width: 90%;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5rem;
    gap: 1.5rem;
    position: relative;
    @media (min-width: 375px) {
      flex-direction: row;
      margin-bottom: 0.5rem;
    }

    .left {
      background-color: var(--neutral-4);
      border-radius: 0.7rem;
      border: none;
      color: var(--primary-1);
      width: fit-content;
      height: fit-content;
      padding: 0.5rem;
      display: flex;
      gap: 1rem;

      @media (min-width: 375px) {
        display: block;
        gap: 0;
      }

      p {
        font-weight: 700;
        margin: 0;
        text-align: center;

        @media (min-width: 375px) {
          margin: 10px 0;
        }
      }
      button {
        background-color: transparent;
        border: none;
        color: var(--neutral-2);
        font-weight: 700;
      }
      button:hover {
        cursor: pointer;
      }
    }

    .right {
      width: 100%;

      .head {
        display: flex;
        align-items: start;
        justify-content: space-between;

        .container-1,
        .container-2,
        .delete-container {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .img-container {
            width: clamp(30px, 1rem, 2rem);

            img {
              width: 100%;
            }
          }

          .you {
            background-color: var(--primary-1);
            border-radius: 0.2rem;
            padding: 0.1rem 0.3rem;
            p {
              color: var(--neutral-5);
              margin: 0;
            }
          }

          .username {
            color: var(--neutral-1);
            font-weight: 500;
          }

          .createdAt {
            color: var(--neutral-2);
          }
        }

        .delete-container {
          position: absolute;
          top: 80%;
          left: 50%;
          p {
            color: var(--primary-2);
            font-weight: 700;
          }
          @media (min-width: 375px) {
            position: static;
          }
        }

        .delete-container:hover {
          cursor: pointer;
          opacity: 0.7;
        }

        .container-1 {
          gap: 1rem;
        }

        .container-2 {
          position: absolute;
          top: 80%;
          left: 75%;
          gap: 0.5rem;
          color: var(--primary-1);
          font-weight: 500;

          @media (min-width: 375px) {
            position: static;
          }
        }

        .container-2:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }

      .context {
        p {
          color: var(--neutral-2);
        }

        textarea {
          cursor: pointer;
          resize: none;
          width: 100%;
          height: 15vh;
          border: 2px solid var(--neutral-4);
          border-radius: 0.5rem;
          padding: 1rem;
        }

        button {
          margin: 0 auto;
          background-color: var(--primary-1);
          border: none;
          border-radius: 0.5rem;
          color: var(--neutral-5);
          padding: 0.7rem 1.5rem;
          font-weight: 700;
        }
      }
    }
  }
}

.reply-container:last-of-type {
  margin-bottom: 0;
}
