@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: var(--neutral-4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 5rem 0;
}

:root {
  --primary-1: hsl(238, 40%, 52%);
  --primary-2: hsl(358, 79%, 66%);
  --primary-3: hsl(239, 57%, 85%);
  --primary-3: hsl(357, 100%, 86%);
  --neutral-1: hsl(212, 24%, 26%);
  --neutral-2: hsl(211, 10%, 45%);
  --neutral-3: hsl(223, 19%, 93%);
  --neutral-4: hsl(228, 33%, 97%);
  --neutral-5: hsl(0, 0%, 100%);
}

.main {
  position: relative;
  margin-bottom: 1rem;
}
.main .comment-container {
  background-color: var(--neutral-5);
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column-reverse;
  width: clamp(350px, 50vw, 60vw);
  padding: 1.5rem;
  gap: 1.5rem;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 375px) {
  .main .comment-container {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
}
.main .comment-container .left {
  background-color: var(--neutral-4);
  border-radius: 0.7rem;
  border: none;
  color: var(--primary-1);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}
@media (min-width: 375px) {
  .main .comment-container .left {
    display: block;
    gap: 0;
  }
}
.main .comment-container .left p {
  font-weight: 700;
  margin: 0;
  text-align: center;
}
@media (min-width: 375px) {
  .main .comment-container .left p {
    margin: 10px 0;
  }
}
.main .comment-container .left button {
  background-color: transparent;
  border: none;
  color: var(--neutral-2);
  font-weight: 700;
}
.main .comment-container .left button:hover {
  cursor: pointer;
}
.main .comment-container .right {
  width: 100%;
}
.main .comment-container .right .head {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.main .comment-container .right .head .container-1,
.main .comment-container .right .head .container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .comment-container .right .head .container-1 .img-container,
.main .comment-container .right .head .container-2 .img-container {
  width: clamp(30px, 1rem, 2rem);
}
.main .comment-container .right .head .container-1 .img-container img,
.main .comment-container .right .head .container-2 .img-container img {
  width: 100%;
}
.main .comment-container .right .head .container-1 .username,
.main .comment-container .right .head .container-2 .username {
  color: var(--neutral-1);
  font-weight: 500;
}
.main .comment-container .right .head .container-1 .createdAt,
.main .comment-container .right .head .container-2 .createdAt {
  color: var(--neutral-2);
}
.main .comment-container .right .head .container-1 {
  gap: 1rem;
}
.main .comment-container .right .head .container-2 {
  position: absolute;
  top: 77%;
  left: 75%;
  gap: 0.5rem;
  color: var(--primary-1);
  font-weight: 500;
}
@media (min-width: 375px) {
  .main .comment-container .right .head .container-2 {
    position: static;
  }
}
.main .comment-container .right .head .container-2:hover {
  cursor: pointer;
  opacity: 0.7;
}
.main .comment-container .right .context p {
  color: var(--neutral-2);
}

.reply-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: clamp(350px, 50vw, 60vw);
  margin-bottom: 1rem;
}
.reply-container .create-reply-container {
  width: 90%;
  margin-bottom: 0;
}
.reply-container hr {
  margin: 0 2.5rem;
  border: 2px solid var(--neutral-3);
}
.reply-container .sub-container {
  background-color: var(--neutral-3);
  width: 90%;
  border: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem;
  gap: 1.5rem;
  position: relative;
}
@media (min-width: 375px) {
  .reply-container .sub-container {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
}
.reply-container .sub-container .left {
  background-color: var(--neutral-4);
  border-radius: 0.7rem;
  border: none;
  color: var(--primary-1);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
@media (min-width: 375px) {
  .reply-container .sub-container .left {
    display: block;
    gap: 0;
  }
}
.reply-container .sub-container .left p {
  font-weight: 700;
  margin: 0;
  text-align: center;
}
@media (min-width: 375px) {
  .reply-container .sub-container .left p {
    margin: 10px 0;
  }
}
.reply-container .sub-container .left button {
  background-color: transparent;
  border: none;
  color: var(--neutral-2);
  font-weight: 700;
}
.reply-container .sub-container .left button:hover {
  cursor: pointer;
}
.reply-container .sub-container .right {
  width: 100%;
}
.reply-container .sub-container .right .head {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.reply-container .sub-container .right .head .container-1,
.reply-container .sub-container .right .head .container-2,
.reply-container .sub-container .right .head .delete-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reply-container .sub-container .right .head .container-1 .img-container,
.reply-container .sub-container .right .head .container-2 .img-container,
.reply-container .sub-container .right .head .delete-container .img-container {
  width: clamp(30px, 1rem, 2rem);
}
.reply-container .sub-container .right .head .container-1 .img-container img,
.reply-container .sub-container .right .head .container-2 .img-container img,
.reply-container .sub-container .right .head .delete-container .img-container img {
  width: 100%;
}
.reply-container .sub-container .right .head .container-1 .you,
.reply-container .sub-container .right .head .container-2 .you,
.reply-container .sub-container .right .head .delete-container .you {
  background-color: var(--primary-1);
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
}
.reply-container .sub-container .right .head .container-1 .you p,
.reply-container .sub-container .right .head .container-2 .you p,
.reply-container .sub-container .right .head .delete-container .you p {
  color: var(--neutral-5);
  margin: 0;
}
.reply-container .sub-container .right .head .container-1 .username,
.reply-container .sub-container .right .head .container-2 .username,
.reply-container .sub-container .right .head .delete-container .username {
  color: var(--neutral-1);
  font-weight: 500;
}
.reply-container .sub-container .right .head .container-1 .createdAt,
.reply-container .sub-container .right .head .container-2 .createdAt,
.reply-container .sub-container .right .head .delete-container .createdAt {
  color: var(--neutral-2);
}
.reply-container .sub-container .right .head .delete-container {
  position: absolute;
  top: 80%;
  left: 50%;
}
.reply-container .sub-container .right .head .delete-container p {
  color: var(--primary-2);
  font-weight: 700;
}
@media (min-width: 375px) {
  .reply-container .sub-container .right .head .delete-container {
    position: static;
  }
}
.reply-container .sub-container .right .head .delete-container:hover {
  cursor: pointer;
  opacity: 0.7;
}
.reply-container .sub-container .right .head .container-1 {
  gap: 1rem;
}
.reply-container .sub-container .right .head .container-2 {
  position: absolute;
  top: 80%;
  left: 75%;
  gap: 0.5rem;
  color: var(--primary-1);
  font-weight: 500;
}
@media (min-width: 375px) {
  .reply-container .sub-container .right .head .container-2 {
    position: static;
  }
}
.reply-container .sub-container .right .head .container-2:hover {
  cursor: pointer;
  opacity: 0.7;
}
.reply-container .sub-container .right .context {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.reply-container .sub-container .right .context p {
  color: var(--neutral-2);
}
.reply-container .sub-container .right .context textarea {
  cursor: pointer;
  resize: none;
  width: 100%;
  height: 15vh;
  border: 2px solid var(--neutral-4);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.reply-container .sub-container .right .context button {
  background-color: var(--primary-1);
  border: none;
  border-radius: 0.5rem;
  color: var(--neutral-5);
  padding: 0.7rem 1.5rem;
  font-weight: 700;
}

.reply-container:last-of-type {
  margin-bottom: 0;
}

.main-replies {
  display: flex;
  position: relative;
}
.main-replies hr {
  position: absolute;
  height: 90%;
  left: 5%;
  border: 2px solid var(--neutral-3);
}

.create-container {
  padding: 1rem;
  background-color: var(--neutral-5);
  margin-top: 1rem;
  border-radius: 1rem;
}
.create-container form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 375px) {
  .create-container form {
    display: flex;
    align-items: flex-start;
  }
}
.create-container form .left {
  width: clamp(30px, 1rem, 2rem);
}
.create-container form .left img {
  width: 100%;
}
.create-container form textarea {
  resize: none;
  width: 100%;
  height: 15vh;
  border: 2px solid var(--neutral-4);
  border-radius: 0.5rem;
  padding: 1rem;
  grid-column: 1/3;
  grid-row: 1/2;
}
.create-container form textarea {
  cursor: pointer;
}
.create-container form button {
  background-color: var(--primary-1);
  border: none;
  border-radius: 0.4rem;
  color: var(--neutral-5);
  padding: 0.7rem 1.5rem;
  font-weight: 700;
}
.create-container form button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.create-reply-container {
  padding: 1rem;
  background-color: var(--neutral-5);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.create-reply-container form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 375px) {
  .create-reply-container form {
    display: flex;
    align-items: flex-start;
  }
}
.create-reply-container form .left {
  width: clamp(30px, 1rem, 2rem);
}
.create-reply-container form .left img {
  width: 100%;
}
.create-reply-container form textarea {
  resize: none;
  width: 100%;
  height: 15vh;
  border: 2px solid var(--neutral-4);
  border-radius: 0.5rem;
  padding: 1rem;
  grid-column: 1/3;
  grid-row: 1/2;
}
.create-reply-container form textarea {
  cursor: pointer;
}
.create-reply-container form button {
  background-color: var(--primary-1);
  border: none;
  border-radius: 0.4rem;
  color: var(--neutral-5);
  padding: 0.7rem 1.5rem;
  font-weight: 700;
}
.create-reply-container form button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.delete_container {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.delete_container .container {
  background-color: var(--neutral-5);
  border-radius: 0.5rem;
  position: sticky;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 330px;
  padding: 1.5rem;
}
@media (min-width: 375px) {
  .delete_container .container {
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}
.delete_container .container h2 {
  color: var(--neutral-1);
  margin-top: 0;
}
.delete_container .container p {
  color: var(--neutral-2);
  font-size: 0.9rem;
  line-height: 150%;
}
.delete_container .container .btn_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete_container .container .btn_container .cancel,
.delete_container .container .btn_container .delete {
  background-color: var(--neutral-2);
  border: none;
  border-radius: 0.3rem;
  color: var(--neutral-5);
  padding: 0.7rem 1.5rem;
  font-weight: 700;
}
.delete_container .container .btn_container .delete {
  background-color: var(--primary-2);
}/*# sourceMappingURL=styles.css.map */